<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,44},{60,36}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{60,36}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>big_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{68,58}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>big_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{60,44}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{60,44}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>big_fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{64,50}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{64,50}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_fire.png</string>
            <key>size</key>
            <string>{128,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4839cb3999b971f8db623e7d6f6b205a$</string>
            <key>textureFileName</key>
            <string>big_fire.png</string>
        </dict>
    </dict>
</plist>
