<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{46,48}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{46,48}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,92},{98,78}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{98,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{96,88}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{76,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{62,56}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{250,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f5dd11ff4c75b5a207eccdc410eea32$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
