<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>silver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{26,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{20,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>silver9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>silver.png</string>
            <key>size</key>
            <string>{30,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dfa176de54b3685758d98158b4f0cb9$</string>
            <key>textureFileName</key>
            <string>silver.png</string>
        </dict>
    </dict>
</plist>
